.custom{

    border: 2px #4A7C59 solid;
    color: #4A7C59;
}

.custom:hover {

    background-color:#8FC0A9;
    border: 7px #4A7C59 solid;
}


.game {

    font-size: 30;
    font-weight: bolder;

}

body{

    background-color: #C8D5B9;
    color: #4A7C59;
    font-weight: bold;
}

